* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f5f3df;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  height: 50px;
}
